

/******************* ANIMATIONS **********************/

.slide-in-right {
    -webkit-animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94)   both;
    animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94)  both;
}
.slide-in-right-1  {
    -webkit-animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) .5s both;
    animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) .5s both;
}
.slide-in-right-2 {
    -webkit-animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) 1.2s both;
    animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) 1.2s both;
}
.slide-in-right-3 {
    -webkit-animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) 1.4s both;
    animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) 1.4s both;
}
.slide-in-right-4 {
    -webkit-animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) 1.6s both;
    animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) 1.6s both;
}
.slide-in-right-nodelay {
    -webkit-animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94)  both;
    animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) both;
}

.slide-in-left {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94)  both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94)  both}

.slide-in-left-1 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .5s  both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94)  .5s both}

.slide-in-left-2 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.2s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.2s both}

.slide-in-left-3 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.4s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.4s both}

.slide-in-left-4 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.6s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.6s both}
.slide-in-left-5 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.8s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.6s both}
.slide-in-left-6 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 2s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.6s both}
.slide-in-left-7 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 2.2s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.6s both}
.slide-in-left-8 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 2.4s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.6s both}
.slide-in-left-9 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 2.6s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.6s both}
.slide-in-left-10 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 2.8s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.6s both}
.slide-in-left-11 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 3s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.6s both}
.slide-in-left-12 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 3.2s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.6s both}

.slide-in-left-nodelay {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94)  both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) both}

.slide-in-top{-webkit-animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both}

.slide-in-bottom{-webkit-animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both}

.heartbeat{-webkit-animation:heartbeat 1.5s ease-in-out infinite both;animation:heartbeat 1.5s ease-in-out infinite both}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-6 14:26:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

@-webkit-keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

@-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

@-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

.slide-out-top{-webkit-animation:slide-out-top .5s cubic-bezier(.55,.085,.68,.53) both;animation:slide-out-top .5s cubic-bezier(.55,.085,.68,.53) both}

@-webkit-keyframes slide-out-top{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}}@keyframes slide-out-top{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}}

.slide-in-top{-webkit-animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both}

@-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

.fade-in {-webkit-animation:fade-in 2.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 2.2s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

.rotate-center{-webkit-animation:rotate-center .6s ease-in-out both;animation:rotate-center .6s ease-in-out both}
@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}