#content {
    width: 100%;
    background-image: url(../img/menu-bg.jpg);
    background-position: center;
    background-size: auto 100%;
    z-index: 5;
    background-color: #ccc;
    padding: 160px 0 60px;
    transition: display .3s linear;
    margin: 0 !important;
    color: #c2c1c1;
}

#mapCss, #map {
    height: 300px;
    margin-bottom: 30px;
}