
            .fog {  animation: slideanimationr 60s linear infinite; }
            .sand { animation: slideanimation 40s linear infinite; }

            @keyframes slideanimation {
              0%{
                transform: translate3d(0, 0, 0);
              }
              50%{
                transform: translate3d(-30%, 0, 0);
              }
              100%{
                transform: translate3d(0, 0, 0);
              }
            }
            @keyframes slideanimationr {
              0%{
                transform: translate3d(-30%, 0, 0);
              }
              50%{
                transform: translate3d(0, 0, 0);
              }
              100%{
                transform: translate3d(-30%, 0, 0);
              }
            }