hr {
    opacity: 1;
}

#pageslider .count {
    font-weight: 400;
    font-size: 50px;
    color: #701f41;
    display: block;
    float: left;
    line-height: 1;
    margin-right: 10px;
}

#pageslider h1 {
    display: block;
    float: right;
    position: relative;
}

.section-head {
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 60px;
    color: #c2c1c1;
}

.section-sub-head {
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    color: #c2c1c1;
}

.expand-box {
    padding: 30px 0;
    border-top: 1px solid #fff;
}

.expand-bt {
    width: 39px;
    height: 39px;
    background-image: url('../img/more-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    display: inline-block;
    margin-left: 60px;
}

.expand-content {
    max-height: 0;
    height: auto;
    transition: max-height .3s linear;
    transition: margin .3s linear;
    overflow: hidden;
}

.expand-box.active .expand-content {
    max-height: 5000px;
    margin: 50px 0 30px;
}

.expand-box.active .expand-bt {
    background-image: url('../img/less-icon.png');
}

.ladder-box {
    width: 90%;
    float: left;
    position: relative;
    transition: height .3s linear;
    transition: padding .3s linear;
    padding-top: 60px;
}

.ladder-box.push-down {
    padding-top: 60px;
}

.ladder-box .img {
    margin-bottom: 30px;
}

.ladder-box .view-more {
    position: absolute;
    text-align: center;
    top:50%;
    width: 100%;
    transition: opacity .3s linear;
}

.ladder-box .view-more p {
    margin-top: 18px;
}

.ladder-title {
    font-size: 20px;
    text-transform: uppercase;
    top: 35px;
    left: 35px;
    position: absolute;
    width: 70%;
    text-align: left;
    line-height: 22px;
}

.ladder-content {
    max-height: 0px;
    height: auto;
    transition: max-height .3s linear;
    overflow: hidden;
}

.ladder-box:hover > .ladder-content {
    max-height: 500px;
}

.ladder-box:hover {
    padding-top: 0;
}

.ladder-box:hover .view-more {
    opacity: 0;
}

input[type=text], input[type=submit], textarea, select {
    background-color: transparent;
    border: 1px solid #fff;
    height: 40px;
    line-height: 40px;
    border-radius: 0;
    width: 100%;
    margin-bottom: 15px;
    padding: 0 24px;
    color: #c2c1c1;
    font-weight: 300;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ccc;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
    margin-bottom: 15px;
    border: 1px solid #fff;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: transparent;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 0;
  right: 10px;
  width: 11px;
  height: 40px;
    background-image: url(../img/select-arrow.png);
    background-position: center;
    background-repeat: no-repeat;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #c2c1c1;
  padding: 0 24px;
  height: 40px;
    line-height: 40px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: black;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 200px;
}

@media only screen and (max-width: 991px) {
    .ladder-title {
        font-size: 14px;
        top: 25px;
        left: 25px;
        width: 70%;
        line-height: 18px;
    }
    
    .view-more {
        top: 60% !important;
    }
    
    .view-more img {
        width: 60px;
    }
    
    .view-more p {
        font-size: 11px;
    }
    
    .ladder-content {
        font-size: 12px;
    }
}


@media only screen and (max-width: 767px) { 
    .ladder-content {
        max-height: 1000px !important;
    }

    .ladder-box.push-down {
        padding-top: 0;
    }
    
    .ladder-content {
        padding-bottom: 30px;
        font-size: 14px;
    }
    
    .section-head {
        font-size: 40px;
        line-height: 40px;
    }
    
    .section-sub-head {
        font-size: 28px;
    }

    .ladder-box .img {
        width: 50%;
        float: left;
    }
    
    .ladder-content {
        width: 50%;
        float: left;
        padding-bottom: 30px;
        padding-left: 30px;
    }
    
    #pageslider .count {
        display: none;
    }
    
}


@media only screen and (max-width: 520px) { 
        
    .ladder-box .img {
        width: 100%;
        float: left;
    }
    
    .ladder-content {
        width: 100%;
        float: left;
        padding-left: 0;
    }
    
    .expand-box .section-head {
        font-size: 20px;
        line-height: 20px;
    }

    
    .expand-box .expand-bt {
        width: 30px;
        height: 30px;
        background-size: 30px auto;
        margin-left: 30px;
        margin-bottom: -7px;
    }
    
    #content p {
        font-size: 14px !important;
    }

    .expand-box  .section-sub-head {
        font-size: 18px;
    }
    
    .ladder-box {
        width: 100%;
    }

    .section-head {
        font-size: 30px;
        line-height: 30px;
    }

}
