

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.relative {
    position: relative;
}

.animate {
    opacity: 0;
}

#head {
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: padding .5s linear;
}

#head.floating {
    padding: 10px 0 0;
    background-color: #120f0d;
}

#head.floating #menu-icon {
    width: 30px;
}

#head.active {
    background-color: transparent;
}

#main-logo-icon {
    float: left;
    display: block;
    height: 61px;
    width: 62px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(../img/main-logo.png);
    background-size: 100% auto ;
    transition: height,width .3s linear;
}

#head.floating #main-logo-icon {
    background-image: url(../img/main-logo-violet.png);
}

#head.floating.active #main-logo-icon {
    background-image: url(../img/main-logo.png) !important;
}

#main-logo-icon.rotate-center {
    height: 41px;
    width: 42px;
}

#main-logo-text {
    float: left;
    display: block;
    height: 61px;
    width: 222px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(../img/main-logo-text.png);
}

#main-logo-text.ar {
    background-image: url(../img/main-logo-ar.png);
    margin-right: 10px;
    width: 109px;
}

#main-logo-text.hide {
    -webkit-animation:slide-out-top .5s cubic-bezier(.55,.085,.68,.53) both;
    animation:slide-out-top .5s cubic-bezier(.55,.085,.68,.53) both;
    display: none;
}
#main-logo-text.show {
    -webkit-animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both
}

/*

#main-logo.active {
    background-image: url(../img/main-logo-ar.png);
}
*/

#menu-icon {
    float: right;
    display: block;
    width: 35px;
    height: 51px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/menu-icon.png);
    background-size: 100% auto;
    transition: height,width .3s linear;
}

#menu-icon.active {
    background-image: url(../img/close-icon.png);
}

#menu-nav {
    height: 100vh;
    width: 100%;
    background-image: url(../img/menu-bg.jpg);
    background-position: center;
    background-size: auto 100%;
    position: fixed;
    z-index: 5;
    background-color: #ccc;
    padding: 80px 0 60px;
    display: none;
    transition: display .3s linear;
}

#menu-nav .container {
    height: 100vh;
    position: relative;
}

#menu-nav.active {
    display: block;
}

#menu-nav .count {
    display: block;
    font-size: 15px;
    line-height: 15px;
}

#menu-nav ul {
    margin-bottom: 0;
    position: absolute;
    top: 50%;
}

#menu-nav ul li  a {
    font-size: 39px;
    font-weight: bold;
    line-height: 40px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: padding .3s linear;
    width: auto;
}

#menu-nav ul li:hover a {
    border-bottom: 1px solid #fff;
    padding-left: 30px;
}

#menu-nav ul {
    padding: 0;
    list-style: none;
}

#menu-nav .contact-wrap {
    position: absolute;
    top: 43%;
}

#menu-nav .contact-wrap p {
    font-weight: 300;
    line-height: 23px;
}

#menu-nav .contact-wrap .head {
    font-size: 22px;
    margin-bottom: 14px !important;
    font-weight: normal;
}

#pageslider {
    height: 100vh;
    width: 100%;
    /*    background-image: url(../img/home/slider.jpg);*/
    background-position: center;
    position: relative;
    background-size: auto 100%;
    background-repeat: no-repeat;
    min-height: 600px;
    opacity: 0;
    max-height: 860px;
}

#pageslider .fog {
    background-color: transparent;
    height: 100%;
    width: 200%;
    background-image: url(../img/fog.png);
    position: absolute;
    background-size: auto 100%;
    background-repeat: repeat-x;
    min-height: 600px;
    background-position: top;
    opacity: 0;
}

#pageslider .sand {
    background-color: transparent;
    height: 100%;
    width: 200%;
    background-image: url(../img/sand.png);
    position: absolute;
    background-size: auto 100%;
    background-repeat: repeat-x;
    min-height: 600px;
    background-position: bottom;
    opacity: 0;
}

#pageslider .container {
    height: 100%;
}

#pageslider .container .vcenter {
    position: absolute;
    right: 12px;
    text-align: right;
    width: 50%;
    top: 50%;
    max-width: 700px;
}

#pageslider .container .vcenter h1 {
    text-transform: uppercase;
    font-size: 86px;
    font-weight: 900;
    line-height: 79px;
}

#pageslider .dots {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

#pageslider .dots ul {
    list-style: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

#pageslider .dots li {
    display: inline-block;
    margin: 0 5px;
}

#pageslider .dots li a {
    display: block;
    width: 50px;
    height: 2px;
    background-color: #fff;
}

#pageslider .dots li a.active {
    opacity: .5;
}

.scrollicon {
    position: absolute;
    bottom: 60px;
    background-image: url(../img/scroll-icon.png);
    background-repeat: no-repeat;
    width: 26px;
    height: 76px;
    left: 50%;
    margin-left: -13px;
}

.readmore {
    border: 1px solid #fff;
    padding: 12px 55px;
    transition: background .3s linear;
    font-size: 13px;
    display: block;
}

.readmore:hover {
    background-color: #fff;
    color: #120f0d;
}

.socials a {
    color: #5c1a36;
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 10px;
}

.socials a:hover {
    color: #5c1a36;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

.section-heading {
    font-size: 58px;
    line-height: 58px;
    color: #c2c1c1;
}

.font-red {
    color: #701f41;
}

section, footer, header {
    overflow: hidden;
}

#foot {
    padding: 40px 0;
    font-size: 17px;
    background-color: #000;
}

#foot ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

#foot ul li {
    margin-bottom: 8px;
}

#foot ul a {
    font-size: 17px;
    text-transform: uppercase;
    transition: padding .3s linear;
    padding-bottom: 5px;
    line-height: 23px;
}

#foot .socials a {
    color: #000;
}

#foot ul a:hover {
    padding-right: 10px;
    border-bottom: 1px solid #fff;
}

#foot ul li:last-of-type {
    margin-bottom: 0;
}

br {
    line-height: 12px;
    font-size: 13px;
}

p {
    margin-bottom: 0 !important;
}

#team .name {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
}

#team .position {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
}

#team img {
    margin-bottom: 25px;
}

#team .member {
    margin-bottom: 25px;
}

.langs {
    line-height: 51px;
    font-size: 20px;
    text-align: right;
}

@media only screen and (max-width: 1366px) {
    #pageslider .container .vcenter {
        width: 70%;
    }
    #pageslider .container .vcenter h1 {
        font-size: 76px;
        line-height: 69px;
    }
}

@media only screen and (max-width: 991px) {
    #pageslider .container .vcenter {
        width: 70%;
    }
    #pageslider .container .vcenter h1 {
        font-size: 56px;
        line-height: 49px;
    }
}

@media only screen and (max-width: 767px) {
    #pageslider .container .vcenter {
        width: 100%;
        text-align: center;
    }
    #pageslider .container .vcenter h1 {
        font-size: 56px;
        line-height: 54px;
    }
    .contact-wrap {
        display: none;
    }
    #foot {
        text-align: center;
    }

    #foot li {
        text-align: center;
    }

    #foot ul li:last-of-type {
        margin-bottom: 8px;
    }
    .center-desk .vcenter {
        top: 0 !important;
        margin-top: 0 !important;
        position: relative !important;
    }
    .center-desk .hcenter {
        left: 0 !important;
        margin-left: 0 !important;
        position: relative !important;
    }
}

@media only screen and (max-width: 520px) {
    #pageslider .container .vcenter h1 {
        font-size: 36px;
        line-height: 34px;
    }
    #menu-nav ul li a {
        font-size: 29px;
        line-height: 30px;
        padding-bottom: 5px;
        margin-bottom: 15px;
    }

    .langs {
        line-height: 51px;
        font-size: 13px;
        text-align: left;
    }

}

@media only screen and (max-height: 920px) and (min-width: 1280px) {
    #pageslider {
        background-size: 130% auto;
    }
}

@media only screen and (max-height: 620px)  {
    #menu-nav ul li a {
        font-size: 29px;
        font-weight: bold;
        line-height: 30px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    #pageslider .vcenter h1 {
        font-size: 56px !important;
        line-height: 59px !important;
    }
    #pageslider .vcenter {
        max-width: 400px !important;
    }
}




